#backgroundPane {
    -fx-background-color: transparent;
}

#doorButton:hover + #HomeScreenDoorGlow {
    -fx-opacity: 1;
}

#HomeScreen {
    -fx-opacity: 1;
}

#HomeScreenExitOut, #HomeScreenExitIn {
    -fx-opacity: 0;
}
